/* @font-face { 
	font-family: ;
	src: url(fonts/);
} */
* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	-webkit-user-select: none;
}
html, body, .screen {
	height: 100%;
	width: 100%;
	background-image: url("img/backgroundimg.png");
	background-size: cover;
}
.firstScreen {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: flex-end;
}
.secondScreen, .scoreBoard, .resultScreen {
	display: none;
}
.secondScreen > div:first-of-type {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.secondScreen > div > div:first-of-type {
	display: flex;
    flex-direction: column;
    align-items: center;
	margin-top: 32px;
	flex-grow: 1;
}
.secondScreen > div > div > div:last-child {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: calc(100% - 32px);
	max-width: 800px;
}
.secondScreen .questionDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.secondScreen .imagecontainer {
	min-height: 200px;
	width: calc(100% - 34px);
	border: 1px solid black;
	flex-grow: 1;
	max-width: 800px;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
}
.firstScreen > div {
	height: calc(100% - 116px);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    margin-top: 100px;
}

.firstScreen > div div {
	display: flex;
    justify-content: center;
    flex-direction: column;
}

.firstScreen div:first-of-type span {
	font-size: 1.5em;
	font-weight: bold;
	max-width: 300px;
	align-self: center;
}
.firstScreen img {
	margin-bottom: 16px;
	width: 100px;
	height: auto;
}
.resultScreen {
	flex-direction: column;
    text-align: center;
	justify-content: space-around;
}
.firstScreenButton {
	background-color: #29568f;
	min-width: 300px;
	color: white;
	padding: 10px 0;
	margin: 0 0 10px 0;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
	text-align: center;
}

.firstScreenButton:last-of-type {
	margin: 0;
}
.buttonHover {
	background-color: #174176;
}
.questionDiv ul {
	background-color: #fff;
	margin: 0 16px 32px 16px;
	list-style: none;
	min-height: 200px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	display: flex;
	flex-direction: column;
	max-width: 800px;
	width: calc(100% - 32px);
}
.questionDiv ul li {
	flex-grow: 1;
	padding: 15px;
	display: flex;
	align-items: center;
	border-bottom: solid 1px rgba(0, 0, 0, 0.66);;
}
.questionDiv ul li:last-of-type {
	border: none;
}
.secondScreen .questionDiv .selected {
	background-color: rgb(41, 86, 143);
	color: white;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
	border-color: transparent;
}
.secondScreen .questionDiv .border {
	border-color: transparent;
}