* {
	margin: 0;
	padding: 0;
}
html, body, .screen {
	height: 100%;
	width: 100%;	
}
.firstScreen {
	background-image: url("img/firstscreenbackground.jpg");
}
.secondScreen {
	display: none;
	background-image: url("img/secondscreenbackground.jpg");
}