* {
	margin: 0;
	padding: 0;
	font-family: 'Titillium+Web', sans-serif;
}
html, body, .screen {
	height: 100%;
	width: 100%;
}
.firstScreen {
	background-image: url("img/firstscreenbackground.jpg");
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: flex-end;
	background-size: cover;
}
.secondScreen {
	display: none;
	background-image: url("img/secondscreenbackground.png");
	flex-direction: column;
	justify-content: flex-end;
}
.firstScreen img {
	margin-bottom: 2%;
	width: 100px;
	height: auto;
}
.firstScreen h1 {
	display: inline;
}
.startbutton {
	background-color: #29568f;
	color: white;
	padding: 10px 100px;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
	text-align: center;
	margin: 20% 10%;
}
.questionDiv ul {
	background-color: #fff;
	margin: 3em 1em;
	list-style: none;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.questionDiv ul li {
	padding: 1em;
	border-bottom: solid 1px black;
}
.questionDiv ul li:last-of-type {
	border: none;
}