@font-face {
	font-family: "Arial";
	src: url("fonts/arial.ttf");
}
@font-face {
	font-family: "Arial";
	src: url("fonts/arial_bold.ttf");
	font-weight: bold;
}
@font-face {
	font-family: "Garamond";
	src: url("fonts/garamond.ttf");
}
@font-face {
	font-family: "Garamond";
	src: url("fonts/garamond_bold.ttf");
	font-weight: bold;
}
* {
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
	-webkit-user-select: none;
	color: #333333;
}
html, body, .screen {
	height: 100%;
	width: 100%;
	background-image: url("img/backgroundimg.png");
	background-size: cover;
}
.firstScreen {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: flex-end;
}
.secondScreen {
	background-image: url("img/backgroundimg2.png");
}
.secondScreen, .scoreBoard, .resultScreen {
	display: none;
}
.secondScreen > div:first-of-type {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.secondScreen > div > div:first-of-type {
	display: flex;
    flex-direction: column;
    align-items: center;
	flex-grow: 1;
}
.secondScreen > div > div > div:last-child {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	max-width: 800px;
	background-color: #f1f1f1;
	padding: 0;
	box-sizing: border-box;
}
.secondScreen > div > div > div:last-child p {
	flex-grow: 1;
}
.secondScreen > div > div > div:last-child p span {
	font-family: Garamond, sans-serif;
    font-size: 16px;
    line-height: 1;
}
.secondScreen > div > div > div:last-child h2 {
	text-align: center;
	border-bottom: 1px solid #D39100;
	margin: 0 40px 6px;
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	line-height: 32px;
}
.secondScreen .questionDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.secondScreen .imagecontainer {
	min-height: 200px;
	width: 100%;
	position: relative;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	flex-grow: 1;
	max-width: 800px;
	display: flex;
	background-color: white;
}
.secondScreen .imagecontainer div {
	flex-grow: 1;
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}
.firstScreen > div {
	height: calc(100% - 116px);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    margin-top: 100px;
}

.firstScreen > div div {
	display: flex;
    justify-content: center;
    flex-direction: column;
}

.firstScreen div:first-of-type span {
	font-size: 1.5em;
	font-weight: bold;
	max-width: 300px;
	align-self: center;
}
.firstScreen img {
	margin-bottom: 16px;
	width: 100px;
	height: auto;
}
.resultScreen {
	flex-direction: column;
    text-align: center;
	justify-content: space-around;
}
.info, .resultScreen h2 {
	opacity: 0;
}
.time {
	color: #fff;
	text-shadow: 0px 0px 5px #000, 1px 1px 0px #000;
	font-weight: bold;
	font-size: 1.5em;
}
.resultScreen h3 {
	font-size: 2em;
}
.info {
	background-color: #fff;
    width: calc(100% - 32px);
    border-radius: 5px;
    margin: 0 auto;
}
.resultScreen > svg:first-of-type {
	width: 100%;
	height: 40%;
	max-height: 389px;
}
.firstScreenButton {
	background-color: #29568f;
	min-width: 300px;
	color: white;
	padding: 10px 0;
	margin: 0 0 10px 0;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
	text-align: center;
}

.firstScreenButton:last-of-type {
	margin: 0;
}
.firstScreenButton:hover {
	background-color: #174176;
}
.questionDiv ul {
	background-color: #fff;
	list-style: none;
	min-height: 200px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	display: flex;
	flex-direction: column;
	max-width: 800px;
	width: 100%;
}
.questionDiv ul li {
	flex-grow: 1;
	padding: 15px;
	display: flex;
	align-items: center;
	border-bottom: solid 1px rgba(0, 0, 0, 0.66);
	justify-content: space-between;
}
.questionDiv ul li:last-of-type {
	border: none;
}
.secondScreen .questionDiv .selected {
	background-color: rgb(41, 86, 143);
	color: white;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
	border-color: transparent;
}
.secondScreen .questionDiv .border {
	border-color: transparent;
}
.socialMedia {
	display: inline-flex;
	flex-direction: column;
	opacity: 0;
}
.socialMedia div:first-of-type {
	background-color: #3b5998;
}
.socialMedia div {
	color: white;
	display: inline-flex;
	height: 50px;
	align-items: center;
	justify-content: center;
    border-radius: 4px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
	margin-bottom: 5px;
}
.socialMedia div:nth-of-type(2) {
    background-color: #1da1f2;
}
.socialMedia span {
    font-size: 16px;
	padding: 0px 20px 0 15px;
	flex-grow: 1;
	color: white;
}
.socialMedia div img {
	width: 40px;
    height: auto;
    padding-right: 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.21);
    margin: 5px 0;
}
.socialMedia div:nth-of-type(2) img {
	width: auto;
	height: 40px;
	padding-right: 0;
	padding-left: 5px;
	border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
table {
	width: 100%;
	box-sizing: border-box;
	padding: 16px;
    border-spacing: 0px;
}
th, td {
    padding: 8px;
    text-align: center;
    font-size: 18px;
}

.scoreBoard table tr:nth-of-type(1) {
    background-color: #29568f;
    color: white;
}
.scoreBoard table tr:nth-of-type(2n + 3) {
	background-color: #e8e8e8;
	color: #333333;
}
tbody {
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.scoreBoard table td div {
	display: inline-block;
	text-align: left;
}
th {
    font-size: 20px;
	padding: 10px 0;
}

.scoreBoard table tr:nth-of-type(2n) {
    background-color: white;
	color: #333333;
}
